<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<nav>
    <a href="/celebrities">celebritities</a>
    <a href="/celebrities/create">New celebritities</a>
    <a href="/movies">movies</a>
  </nav>
